@{
    ViewBag.Title = "Electrodomesticos";
}

<h2>Electrodomesticos</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec1.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Licuadora Taurus + COFFEEMAX</h5>
                    <p class="card-text">COMBO Licuadora Taurus + Cafetera Taurus</p>
                    <p class="card-text" style="font-size:24px">S/185.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec2.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">ALBA DIGITAL-Cafetera 900W</h5>
                    <p class="card-text">Jarra De Vidrio Con Sistema Antigoteo, Inoxl</p>
                    <p class="card-text" style="font-size:24px">S/229.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec3.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">LIQUAFRUITS MAX PRO 1000</h5>
                    <p class="card-text">LIQUAFRUITS MAX PRO 1000 - Extractor 800W</p>
                    <p class="card-text" style="font-size:24px">S/275.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec4.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">ROMA - Hervidor De Acero</h5>
                    <p class="card-text">ROMA - Hervidor 1.8Lt Acero Inox Taurus</p>
                    <p class="card-text" style="font-size:24px">S/75.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec5.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Campana Decorativa</h5>
                    <p class="card-text">Campana De Acero Inoxidable,90Cm,Samsung</p>
                    <p class="card-text" style="font-size:24px">S/435.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec6.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Terma A Gas</h5>
                    <p class="card-text">Terma A Gas Glp Blanco 5.5 Lt Sole</p>
                    <p class="card-text" style="font-size:24px">S/570.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec7.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Campana Extractora</h5>
                    <p class="card-text">Campana De Acero Inoxidable,90Cm,2 Motores</p>
                    <p class="card-text" style="font-size:24px">S/530.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec8.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Lavadora Automatica</h5>
                    <p class="card-text">Lavadora EcoBubble Gris 18kg Samsung</p>
                    <p class="card-text" style="font-size:24px">S/1,385.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec9.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Cafetera + Parrilla Eléctrica</h5>
                    <p class="card-text">Combo Cafetera Taurus + Parrilla Practika</p>
                    <p class="card-text" style="font-size:24px">S/165.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec10.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Exprimidor XL + Cafetera</h5>
                    <p class="card-text">Combo Exprimidor Taurus + Cafetera Taurus</p>
                    <p class="card-text" style="font-size:24px">S/185.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec11.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Parrilla Eléctrica + Licuadora Taurus</h5>
                    <p class="card-text">Combo Parrilla Taurus + Licuadora Taurus</p>
                    <p class="card-text" style="font-size:24px">S/200.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/elec12.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Parrilla Casera + Batidora</h5>
                    <p class="card-text">Combo Parrilla Taurus + Batidora Taurus</p>
                    <p class="card-text" style="font-size:24px"> S/200.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Detalles del Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <!-- Agregamos la clase text-center aquí -->
                <img id="modalImage" src="" class="img-fluid mb-3 mx-auto" alt="Product Image" style="max-width: 40%">
                <h5 id="modalTitle"></h5>
                <p id="modalDescription"></p>
                <p id="modalPrice" style="font-size:24px"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-primary').on('click', function () {
            var card = $(this).closest('.card');
            var title = card.find('.card-title').text();
            var description = card.find('.card-text').first().text();
            var price = card.find('.card-text').last().text();
            var imageSrc = card.find('img').attr('src');

            $('#modalTitle').text(title);
            $('#modalDescription').text(description);
            $('#modalPrice').text(price);
            $('#modalImage').attr('src', imageSrc);
        });
    });
</script>
