@{
    ViewBag.Title = "HogaryMuebles";
}

<h2>Hogar y Muebles</h2>


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mu1.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sofá Discovery</h5>
                    <p class="card-text">La forma clásica-moderna del sofá y la cubierta de tapicería Detallada</p>
                    <p class="card-text" style="font-size:24px">S/4,169.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mue2.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sofá esq Gianni peq</h5>
                    <p class="card-text">Un sofá esquinero que puede ser una acogedora zona de relax</p>
                    <p class="card-text" style="font-size:24px">S/4,549.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mu3.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sofá Shirly menta</h5>
                    <p class="card-text">funda de tejido de pana elegante y con un aspecto de terciopelo</p>
                    <p class="card-text" style="font-size:24px">S/5,279.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mue4.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sofa Velvet verde</h5>
                    <p class="card-text"> La carcasa es de madera de haya maciza y ofrece estabilidad</p>
                    <p class="card-text" style="font-size:24px">S/3,719.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/rope1.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Botellero De Pared</h5>
                    <p class="card-text">Botellero pared Bistro 42x120cm</p>
                    <p class="card-text" style="font-size:24px">S/329.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/rope2.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Estantería Osaka</h5>
                    <p class="card-text">Estantería De Pared Osaka 82x210cm</p>
                    <p class="card-text" style="font-size:24px">S/3,689.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/rope3.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Estantería Authentico</h5>
                    <p class="card-text">Estantería Authentico Zick Zack 100x180cm</p>
                    <p class="card-text" style="font-size:24px">S/2,049.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/rope4.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Estantería Storm</h5>
                    <p class="card-text">Estantería Storm 2-türig 100x234cm</p>
                    <p class="card-text" style="font-size:24px">S/5,529.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/go1.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Vela Aromatica</h5>
                    <p class="card-text">Vela Aromatica tuquesa</p>
                    <p class="card-text" style="font-size:24px">S/15.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/go2.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Atomizador De Agua</h5>
                    <p class="card-text">Spray casero de 500 ml</p>
                    <p class="card-text" style="font-size:24px">S/25.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/go3.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Portarrollos Gorilla</h5>
                    <p class="card-text">Portarollos Gorilla 51cm</p>
                    <p class="card-text" style="font-size:24px">S/30.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/go4.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Macetero Home</h5>
                    <p class="card-text">Macetero home 35cm</p>
                    <p class="card-text" style="font-size:24px">S/50.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Detalles del Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <!-- Agregamos la clase text-center aquí -->
                <img id="modalImage" src="" class="img-fluid mb-3 mx-auto" alt="Product Image" style="max-width: 40%">
                <h5 id="modalTitle"></h5>
                <p id="modalDescription"></p>
                <p id="modalPrice" style="font-size:24px"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-primary').on('click', function () {
            var card = $(this).closest('.card');
            var title = card.find('.card-title').text();
            var description = card.find('.card-text').first().text();
            var price = card.find('.card-text').last().text();
            var imageSrc = card.find('img').attr('src');

            $('#modalTitle').text(title);
            $('#modalDescription').text(description);
            $('#modalPrice').text(price);
            $('#modalImage').attr('src', imageSrc);
        });
    });
</script>

