@{
    ViewBag.Title = "RopayAccesorios";
}

<h2>Ropa y Accesorios</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod1.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Polo De manga Larga</h5>
                    <p class="card-text">Polo De Manga De Color Negro</p>
                    <p class="card-text" style="font-size:24px">S/70.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod2.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Cardigan Largo</h5>
                    <p class="card-text">Cardigan De Color Negro Largo</p>
                    <p class="card-text" style="font-size:24px">S/69.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod3.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Blusa</h5>
                    <p class="card-text">Blusa Con Hombreras</p>
                    <p class="card-text" style="font-size:24px">S/159.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod4.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Abrigo</h5>
                    <p class="card-text">Abrigo de Botonadura Sencilla</p>
                    <p class="card-text" style="font-size:24px">S/219.00</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod5.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Cartera De Hombro</h5>
                    <p class="card-text">Cartera De Hombro Con Bolsillo</p>
                    <p class="card-text" style="font-size:24px">S/89.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod6.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Cartera De Paja</h5>
                    <p class="card-text">Cartera De Paja De Fin De Semana</p>
                    <p class="card-text" style="font-size:24px">S/95.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod7.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Cartera Shopper</h5>
                    <p class="card-text">Cartera de Hombro Negro Shopper</p>
                    <p class="card-text" style="font-size:24px">S/99.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod8.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Bolsa Shopper</h5>
                    <p class="card-text">Bolsa Shopper de lona con motivo</p>
                    <p class="card-text" style="font-size:24px">S/39.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod9.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Cartera Shopper</h5>
                    <p class="card-text">Cartera de mano Shopper diseño de cuadros</p>
                    <p class="card-text" style="font-size:24px">S/99.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod10.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Cinturon</h5>
                    <p class="card-text">Cintuon Delgado De Color Negro</p>
                    <p class="card-text" style="font-size:24px">S/69.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod11.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Correa</h5>
                    <p class="card-text">Correa con acabdo de color negro</p>
                    <p class="card-text" style="font-size:24px">S/39.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm border-primary">
                <img src="~/img/mod12.jpg" class="img-responsive img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Gorro De Pescador</h5>
                    <p class="card-text">Gorro De Pescador de twill con bordado</p>
                    <p class="card-text" style="font-size:24px">S/39.95</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">Detalles</a>
                        </div>
                        <a href="" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Detalles del Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <!-- Agregamos la clase text-center aquí -->
                <img id="modalImage" src="" class="img-fluid mb-3 mx-auto" alt="Product Image" style="max-width: 40%">
                <h5 id="modalTitle"></h5>
                <p id="modalDescription"></p>
                <p id="modalPrice" style="font-size:24px"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-primary').on('click', function () {
            var card = $(this).closest('.card');
            var title = card.find('.card-title').text();
            var description = card.find('.card-text').first().text();
            var price = card.find('.card-text').last().text();
            var imageSrc = card.find('img').attr('src');

            $('#modalTitle').text(title);
            $('#modalDescription').text(description);
            $('#modalPrice').text(price);
            $('#modalImage').attr('src', imageSrc);
        });
    });
</script>

